API_KEY = AQ.Ab8RN6LvZQ8ZZ1OVGh82QaRtl8UzEZweD2skZoVwsel13j0RqQ
API_LINK = curl "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent" \
  -H 'Content-Type: application/json' \
  -H 'X-goog-api-key: AQ.Ab8RN6LvZQ8ZZ1OVGh82QaRtl8UzEZweD2skZoVwsel13j0RqQ' \
  -X POST \
  -d '{
    "contents": [
      {
        "parts": [
          {
            "text": "Explain how AI works in a few words"
          }
        ]
      }
    ]
  }'